.Game{
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe{
    display: flex;
    margin: 5px;
}

.title{
    color: white;
}