.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    background-color: greenyellow;
}

img{
    max-width: 30%;
}
li{
    list-style: none;
    text-decoration: none;
}
.loading{
    max-width: 30%;
    display: block;
    margin: auto;
    margin-top: 130px;
}